.root {
    -fx-background-color: #E6E6FA;
    -fx-font-family: "Arial";
}

.text-field, .password-field {
    -fx-border-color: #6A0DAD;
    -fx-background-color: #F0E6F6;
}

.button {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.label {
    -fx-text-fill: #6A0DAD;
    -fx-font-size: 16px;
}
